@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.section-center {
    display: block;
    width: 90vw;
    margin: 4rem 0;
}

.gift-img {
    margin-bottom: 2rem;
    width: 100vw;
}

.gift-info {
    text-align: center;
    display: block;
}

.gift-info h3 {
    text-transform: uppercase;
}

.date {
    font-size: 0.85rem;
}

.deadline {
    display: flex;
    place-content: center;
}

@media screen and (min-width: 992px) {
    .section-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 3rem;
        width: 95vw;
    }

    .gift-img {
        margin-bottom: 0;
    }
}

.gift-info p {
    margin: 2rem 0;
}

.deadline {
    display: flex;
}

.deadline-format {
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
    display: grid;
    place-items: center;
    text-align: center;
}

.deadline-format span {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
}

.deadline h4:not(.expired) {
    font-size: 2rem;
    margin-bottom: 0.25rem;
}